.filter-container button{
    margin-right: 2rem;
    margin-bottom: 1rem;
    min-width: 5rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: rgb(221, 215, 215);
    color: black;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.filter-container button:hover{
    background-color: rgba(221, 215, 215, 0.507);
    color: rgba(0, 0, 0, 0.822);
}
.filter-container .activeButton{
    background-color: rgba(122, 120, 120, 0.507);
    color: rgba(0, 0, 0, 0.822);
    border: 1px solid rgba(0, 0, 0, 0.507);
}