.bodyPage{
  margin: 5% 10%;
}

.movie-board{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  grid-column-gap: 1rem ;
  grid-row-gap: 2rem;
}
.itemsContainer{
  display: grid;
  grid-template-columns: 30vh [col-start] 70vh [col-middle] 30vh [col-end];
  grid-template-rows:  30% [row1-start]80% [row2-end];
  grid-column-gap: 1rem ;
  grid-row-gap: 5rem
}

.lamp{
width: 30%;
margin-top: 2rem;
justify-self: center;
}
.lamp2{
  width: 30%;
margin-top: 2rem;
justify-self: center;
transform: scaleX(-1)
}
.movie-img{
    width: 100%;
    height: 25vh;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.movie-title{
    font-size: 0.8rem;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    color: white;
}
.showMore{
  margin:  0 50%;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(49, 103, 219);
  color: rgb(255, 255, 255);
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: rgba(178, 95, 246, 0.3) 0px 19px 38px, rgba(134, 94, 243, 0.22) 0px 15px 12px;
}
.showMore:hover{
  background-color:rgb(35, 97, 231);
  box-shadow: rgba(178, 95, 246, 0.452) 0px 25px 42px, rgba(134, 94, 243, 0.363) 0px 20px 18px;
}